---
import Layout from '../layouts/Layout.astro';
const title = 'About - Astroku';
---

<Layout {title}>
  <section class='hero py-5'>
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h1>This is - About Page</h1>
          <p class='text-secondary'>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vero
            provident debitis eveniet laboriosam libero porro magni quibusdam
            dolore doloribus?
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
