---
import Layout from '../layouts/Layout.astro';
const title = 'Home - Astroku';
---

<Layout {title}>
  <section class='hero py-5'>
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h1>Hello I'm Astro Js</h1>
          <p class='text-secondary'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima,
            saepe.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
